.destacado {
    width: 440px;
    height: 338px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.destacado > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}